<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>
  {{> fragments/top_bar}}

  <div class="container">
    <h2 style="text-align:center;">Search Results for "{{query}}"</h2>

    <div class="posts">
      {{#posts}}
        {{> fragments/post}}
      {{/posts}}

      {{^posts}}
        {{> fragments/no_content_message}}
      {{/posts}}
    </div>
  </div>

  {{> fragments/footer}}
</body>
</html>
